@media screen and (max-width: 768px) and (min-width:577px) {
    .banner {
        flex-flow: column wrap;
    }
}

@media screen and (max-width: 576px) {
    #wrapper section {
        flex-flow: wrap-reverse;
    }
    .image {
        width: 100% !important;
        flex-shrink: initial !important;
        flex-grow: initial !important;
        height: 357px;
    }
    .content {
        width: 100% !important;
        padding: 0 !important;
        margin: 50px 50px 50px 50px !important;
        flex-shrink: initial !important;
        flex-grow: initial !important;
        max-width: inherit !important;
    }
    .wrapper.style1>.inner {
        /* padding: initial !important; */
        max-width: initial !important;
        width: initial !important;
        margin: inherit !important;
    }
    .style1 .content {
        text-align: center;
    }
    .items.style1.medium>* {
        width: inherit !important;
        padding: initial !important;
    }
    .inner p {
        text-align: center;
    }
}